<div class="my-box">
  <div class="my-head">
    <div class="user-top">
      <div class="user">
         <span class="mui-icon mui-icon-gear"></span>
         <span class="mui-icon mui-icon-chatbubble"></span>
         <span class="mui-icon mui-icon-contact"></span>
      </div>
        <a [routerLink]="['/../login']"><p>登录/注册</p></a>
      
    </div>
  </div>

  <div class="mui-content">
    <ul class="mui-table-view">
      <li class="mui-table-view-cell">
          <a class="mui-navigate-right"><span class="mui-icon mui-icon-star"></span>我的收藏</a>
      </li>
      <li class="mui-table-view-cell">
          <a class="mui-navigate-right"><span class="mui-icon mui-icon-paperclip"></span>我的标签</a>
      </li>
      <li class="mui-table-view-cell">
          <a class="mui-navigate-right"><span class="mui-icon mui-icon-paperplane"></span>我的发布</a>
      </li>
      <li class="mui-table-view-cell">
          <a class="mui-navigate-right"><span class="mui-icon mui-icon-starhalf"></span>我的积分</a>
      </li>
    </ul>
  </div>

  <div class="mui-content">
      <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right"><span class="mui-icon mui-icon-personadd"></span>邀请注册</a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right"><span class="mui-icon mui-icon-paperclip"></span>积分商城</a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right"><span class="mui-icon mui-icon-paperplane"></span>达人申请</a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right"><span class="mui-icon mui-icon-starhalf"></span>奖品中心</a>
        </li>
        <li class="mui-table-view-cell">
            <a class="mui-navigate-right"><span class="mui-icon mui-icon-starhalf"></span>商家入驻</a>
        </li>
      </ul>
    </div>
</div>

