<div class="lg-head">
  <div class="lg-top">
    <span class="mui-icon mui-icon-back" (click)="goback()"></span>
    <span class="lg">注册</span>
  </div>
  <img src="http://39.106.207.39/img/login.png" alt="">
</div>

<div class="lg-content">
    <form class="mui-input-group"  [formGroup]="formModel" (submit)="formSubmit()">
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-person col"></span></label>
            <input type="text" class="mui-input-clear" placeholder="手机号" formControlName="usertel">
            <span class="lg-code col" (click)="getCode()">获取验证码</span>
        </div>
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-locked col"></span></label>
            <input type="text" class="mui-input-clear" placeholder="输入验证码" formControlName="code">
        </div>
        <div class="mui-input-row">
            <label><span class="mui-icon mui-icon-locked col"></span></label>
            <input type="password" class="mui-input-password" placeholder="密码" formControlName="userpwd">
        </div>
        <div class="mui-button-row">
            <button type="submit" class="mui-btn mui-btn-danger">登录</button>
        </div>
    </form>
</div>

<div class="other-contact">
    <div class="other-content">
        <p class="other-cont-1">其他登录方式</p>
        <p class="other-cont-2">
            <span class="mui-icon mui-icon-weixin col"></span>
        </p>
    </div>
</div>