<div class="eat">
  <div class="eat_title clearfix">
    <i class="title_duihua mui-icon mui-icon-chat"></i>
    <span class="title_word">白吃白喝</span>
    <i class="title_search mui-icon mui-icon-search"></i>
  </div>
  <div class="eat_banner">
    <div class="mui-slider">
      <div class="mui-slider-group mui-slider-loop">
        <div class="mui-slider-item mui-slider-item-duplicate">
          <a href="#">
            <img src="http://ydjjpic.img-cn-hangzhou.aliyuncs.com/app/3.0/ad/151563940348803679.jpg_index-top-banner" />
          </a>
        </div>
        <!--第一个内容区容器-->
        <div class="mui-slider-item">
          <a href="#">
              <img src="http://ydjjpic.img-cn-hangzhou.aliyuncs.com/app/3.0/ad/151194088966527594.jpg_index-top-banner" alt="">
          </a> 
        </div>
        <div class="mui-slider-item">
          <a href="#">
              <img src="http://ydjjpic.img-cn-hangzhou.aliyuncs.com/app/3.0/ad/151194084975835542.jpg_index-top-banner" alt="">
          </a> 
        </div>
        <div class="mui-slider-item">
            <a href="#">
                <img src="http://ydjjpic.img-cn-hangzhou.aliyuncs.com/app/3.0/ad/151563940348803679.jpg_index-top-banner" alt="">
            </a> 
        </div>
        <div class="mui-slider-item ">
          <a href="#">
            <img src="http://ydjjpic.img-cn-hangzhou.aliyuncs.com/app/3.0/ad/151194088966527594.jpg_index-top-banner" />
          </a>
        </div>
      </div>
    </div>
  
  </div>
  <div class="eat_jifen">
    <span class="jifen_mall">
      <img src="../../assets/img/pic1.png"alt="">
    </span>
    <span class="jifen_luck">
      <img src="../../assets/img/pic2.png" alt="">
    </span>
  </div>
  <div class="eat_content">
    <div class="content_header">
      <span class="content_line1"></span>
      <span>活动推荐</span>
      <span  class="content_line2"></span>
    </div>
    <div class="content_neirong">
      <span class="content_photo">
        <img src="../../assets/img/pic2.png" alt="">
        <span class="neirong_word">
          137人想玩
        </span>
      </span>
      <span class="content_right">
        <span class="right_top1">正宗香菜来尝鲜</span>
        <span class="right_top2">快来试试手气</span>
         <span class="right_footer">
           <i></i>
           <span>往期活动</span>
         </span>
      </span>
    </div>
    <div class="content_neirong">
        <span class="content_photo">
          <img src="../../assets/img/pic2.png" alt="">
          <span class="neirong_word">
            137人想玩
          </span>
        </span>
        <span class="content_right">
          <span class="right_top1">正宗香菜来尝鲜</span>
          <span class="right_top2">快来试试手气</span>
            <span class="right_footer">
              <i></i>
              <span>往期活动</span>
            </span>
        </span>
      </div>
      <div class="content_footer">
        <span class="content_line1"></span>
        <span>END</span>
        <span  class="content_line2"></span>
      </div>
  </div>

</div>

