<!-- 页面头部logo -->
<div class="headTitle">
	<img [src]="homeLogoImg" alt="">
</div>
<!-- 页面主题部分 -->
<div class="content">
	<!-- 今日推荐 + 轮播图 -->
	<div class="today">
		<!-- 标题 -->
		<div class="title clearfix">
			<div class="title1"></div>
			<div class="title2"></div>
			<div class="title3">今日推荐</div>
			<div class="title2"></div>
			<div class="title1"></div>
		</div>
		<!-- 轮播 -->
		<div id="slider" class="mui-slider banner">
			<div class="mui-slider-group mui-slider-loop">
				<!--支持循环，需要重复图片节点-->
				<!-- <div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#">
						<img [src]="banners[4].ad_pic_links" />
					</a>
				</div> -->
				<div class="mui-slider-item" *ngFor="let ban of banners">
					<a href="#">
						<img [src]="ban.ad_pic_links" />
					</a>
				</div>
				<!--支持循环，需要重复图片节点-->
				<!-- <div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#">
						<img [src]="banners[0].ad_pic_links" />
					</a>
				</div> -->
			</div>
		</div>
	</div>

	<!-- 线 -->
	<div class="hr"></div>

	<!-- 吃喝玩乐 滑动字 -->
	<h1 id="slideFont"></h1>
</div>