<!-- 页面头部logo -->
<div class="headTitle">
	<div>
		<img [src]="homeLogoImg" alt="">
		<span class="mui-icon mui-icon-camera scan" (click)="sao()"></span>
	</div>

</div>
<!-- 页面主题部分 -->
<div class="content">
	<!-- 今日推荐 + 轮播图 -->
	<div class="today">
		<!-- 标题 -->
		<div class="title clearfix">
			<div class="title1"></div>
			<div class="title2"></div>
			<div class="title3">今日推荐</div>
			<div class="title2"></div>
			<div class="title1"></div>
		</div>
		<!-- 轮播 -->
		<div id="slider" class="mui-slider banner">
			<div class="mui-slider-group mui-slider-loop">
				<!--支持循环，需要重复图片节点-->
				<!-- <div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#">
						<img [src]="banners[4].ad_pic_links" />
					</a>
				</div> -->
				<div class="mui-slider-item" *ngFor="let ban of banners">
					<a href="java:void(0)">
						<img [src]="ban.ad_pic_links" />

					</a>
					<p class="banner-p1">{{ban.ad_name}}</p>
					<p class="banner-p2">{{ban.describe}}</p>
				</div>
				<!--支持循环，需要重复图片节点-->
				<!-- <div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#">
						<img [src]="banners[0].ad_pic_links" />
					</a>
				</div> -->
			</div>
		</div>
	</div>

	<!-- 线 -->
	<div class="hr"></div>

	<!-- 吃喝玩乐 滑动字 -->
	<h1 id="slideFont"></h1>

	<!-- 吃喝玩乐 nav导航 -->
	<div class="nav clearfix">
		<ul class="clearfix">
			<li *ngFor="let nav of homeList1?.list[0]?.store_class">
				<a [routerLink]="['/detail']">
					<img [src]="nav.CateImageUrl" alt="">
					<p>{{nav.cate_name}}</p>
				</a>
			</li>
		</ul>
	</div>

	<!-- 允典头条 -->
	<div class="headLine clearfix">
		<div class="headLine-left">
			<p>允典</p>
			<p>头条</p>
		</div>
		<div class="headLine-right">周末 | 吃喝玩乐，来这里就一个字：爽</div>
	</div>

	<!-- 热门话题 -->
	<div class="hotTopic clearfix">
		<!-- 标题 -->
		<div class="title clearfix">
			<div class="title1"></div>
			<div class="title2"></div>
			<div class="title3">热门话题</div>
			<div class="title2"></div>
			<div class="title1"></div>
		</div>
		<div class="hotTopic-img font-parent" *ngFor="let hot of homeList1?.list[2]?.hotTopic">
			<a [routerLink]="['/detail']">
				<img [src]="hot.tag_icon" alt="">
				<span class="font"># {{hot.tag_name}} #</span>
			</a>
		</div>
	</div>

	<!-- 民俗风味 -->
	<div class="custom">
		<!-- 标题 -->
		<div class="title clearfix">
			<div class="title1"></div>
			<div class="title2"></div>
			<div class="title3">民俗风味</div>
			<div class="title2"></div>
			<div class="title1"></div>
		</div>
		<div class="custom-img font-parent">
			<a [routerLink]="['/detail']">
				<img class="img" [src]="homeList2?.list[0]?.custom.stores.store_label" alt="">
				<!-- <span class="font span">{{homeList2[0].custom.cate_desc}}</span> -->
			</a>
		</div>
	</div>

	<!-- 商务宴会 -->
	<div class="business">
		<!-- 标题 -->
		<div class="title clearfix">
			<div class="title1"></div>
			<div class="title2"></div>
			<div class="title3">商务宴会</div>
			<div class="title2"></div>
			<div class="title1"></div>
		</div>
		<div class="business-img font-parent">
			<a [routerLink]="['/detail']">
				<img class="img" [src]="homeList2?.list[1]?.business.stores.store_label" alt="">
			</a>
		</div>
	</div>

	<!-- 优选品牌 -->
	<div class="brand">
		<!-- 标题 -->
		<div class="title clearfix">
			<div class="title1"></div>
			<div class="title2"></div>
			<div class="title3">优选品牌</div>
			<div class="title2"></div>
			<div class="title1"></div>
		</div>
		<div class="brand-list">
			<ul class="clearfix">
				<li *ngFor="let brand of homeList2?.list[2]?.Brand.stores">
					<a [routerLink]="['/detail']">
						<img [src]="brand.store_label" alt="">
						<p>{{brand.store_name}}</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>