/* 页面头部logo */
.headTitle{
    width: 100%;
    height: 0.8rem;
    text-align: center;
    padding-top: 0.15rem;
    box-shadow: 0 0.01rem 0.05rem 0.02rem #ebedef;
    position: fixed;
    top: 0;
    z-index: 999;
}

.headTitle img{
    height: 0.5rem;
}

/* 页面标题部分的样式 */
.title{
    padding: 0.3rem 0;
}
.title .title1,.title2,.title3{
    height: 0.52rem;
    background: #c42e01;
    float: left;
    margin-right: 1px;
}
.title .title1{
    width: 0.03rem;
}
.title .title2{
    width: 0.05rem;
}
.title .title3{
    width: 1.57rem;
    color: white;
    font-size: 0.32rem;
    line-height: 0.52rem;
    text-align: center;
}

/* 内容部分样式 */
.content{
    margin-top: 0.9rem;
    padding: 0 0.3rem;
}

/* 今日推荐 */
.today .banner img{
    width: 100%;
    height: 3.3rem;
}

/* 线 */
.hr{
    width: 100%;
    height: 0.02rem;
    background: #ededed;
    margin: 0.2rem 0;
}

/* 吃喝玩乐 滑动字 */
#slideFont{
    color: #b80500;
    font-size: 0.24rem;
    text-align: center;
}